/*------------------------------------
    Dashboard
------------------------------------*/

.profile {
    background-color: $btn-verde;
    &__avatarImage {
        background-color: $white;
        width: 8rem;
        height: 8rem;
        border: 5px solid #9de8f4;
    }
    &__link {
        text-decoration: none;
        color: $black;
        &:hover {
            color: $btn-verde;
        }
    }
}