.pillCard {
    background-color: #f4f4f4;
    border: 1px solid #e6e7e9;
    border-radius: 2rem;
    .icon-big {
        font-size: 3rem;
        .notif {
            position: absolute;
            min-width: 25px;
            border-radius: 5rem;
            font-size: 1rem;
            background-color: $rosa;
            color: #fff;
        }
    }
    .numbers {
        text-align: right;
        p {
            font-size: 1rem;
            margin: 0;
        }
    }
      
    .footer {
        padding: 0;
        line-height: 30px;
    }
      
}
 
@media (max-width: 767.98px) {
    .sidebar-item.active, .sidebar-item:hover {
      border-right: 1px solid #e6e7e9;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
}

.listCard {
    .list-group {
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.34);
        border: 1px solid #e6e7e9;
    }
    
    .list-group-item {
        background-color: rgba(255,255,255,0.7); 
        border:0;
    }
    
    .btn-toolbar {
        margin-top:10px;
    }
    .listBadge {
        font-size: 1rem;
    }
}