/*------------------------------------
    Sidebar
------------------------------------*/
.sidebar {

    &__menu {
        border: 1px solid #e6e7e9;
        padding: 1rem 0;
        background-color: #f4f4f4;
        border-radius: 2rem;
        list-style-type: none;
    }
    
    &__item {
        position: relative;
        padding: 0.5rem 1rem;
    }

    &__icon {
        position: absolute;
        right: 1rem;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: $white;
        }
    }

    &--active, &__item:hover {
        background-color: $btn-verde;
        color: $white;
        border-bottom: 1px solid #5a5a5a;
    }
}