/*------------------------------------
    Sidebar
------------------------------------*/
.sidebar {

    &__menu {
        border: 1px solid #e6e7e9;
        padding: 1.6rem 0;
        background-color: #f4f4f4;
        border-radius: 2rem;
        list-style-type: none;
    }
    
    &__item {
        position: relative;
        padding: 0.5rem 1rem;
        color: $black;
    }

    &__icon {
        position: absolute;
        right: 1rem;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        display: block;
        padding: 0.5rem 1rem;
        margin: 0;
        &:hover {
            color: $btn-verde;
        }
    }
    // &--width {
    //     width: 100%;
    //     padding: 0.5rem 1rem;
    // }

    &--active, &__item:hover {
        color: $btn-verde;
    }
}