.profileData {
    border-radius: 2rem;
    border: 1px solid #e6e7e9;
    background-color: #e6e7e9;
    ul {
        list-style-type: none;
        margin: 0;
        span {
            font-weight: normal;
        }
    }
}